<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
{{> header }}
<div class="main">
    {{ message }}<br>
    <h3>{{ location }}</h3>
    Temperature: {{ temperature }}<br>
    Feels like : {{ feelsLike }}<br>
    Humidity: {{ humidity }}
</div>
{{> footer }}
</body>
</html>